[submodule "ThirdParty/Glm"]
	path = ThirdParty/Glm
	url = git@github.com:g-truc/glm.git
[submodule "ThirdParty/Tinyobjloader"]
	path = ThirdParty/Tinyobjloader
	url = git@github.com:tinyobjloader/tinyobjloader.git
[submodule "ThirdParty/Glfw"]
	path = ThirdParty/Glfw
	url = git@github.com:glfw/glfw.git
[submodule "CMake"]
	path = CMake
	url = git@github.com:Matrix-ke/CMakeInit.git
[submodule "BasicTool"]
	path = BasisTool
	url = git@github.com:Matrix-Ke/MBasicTool.git
	branch = master
[submodule "ThirdParty/spdlog"]
	path = ThirdParty/spdlog
	url = git@github.com:gabime/spdlog.git
	branch = v1.x
[submodule "ThirdParty/rapidjson"]
	path = ThirdParty/rapidjson
	url = git@github.com:Tencent/rapidjson.git
	branch = master
